
@use './variables.scss' as *;



// --------------------------------- Margin Bottom ---------------------------------

.mb--16{
    margin-bottom: 16px;
    @include for_breakpoint(sm-mobile) {
        margin-bottom: 10px;
    }
    @include for_breakpoint(lg-mobile) {
        margin-bottom: 10px;
    }
    @include for_breakpoint(tablet) {
        margin-bottom: 12px;
    }
    @include for_breakpoint(laptop) {
        margin-bottom: 12px;
    }
}
.mb--20{
    margin-bottom: 20px;
    @include for_breakpoint(sm-mobile) {
        margin-bottom: 8px;
    }
    @include for_breakpoint(lg-mobile) {
        margin-bottom: 8px;
    }
    @include for_breakpoint(tablet) {
        margin-bottom: 12px;
    }
}
.mb--24{
    margin-bottom: 24px;
    @include for_breakpoint(sm-mobile) {
        margin-bottom: 14px;
    }
    @include for_breakpoint(lg-mobile) {
        margin-bottom: 14px;
    }
    @include for_breakpoint(tablet) {
        margin-bottom: 16px;
    }
    @include for_breakpoint(laptop) {
        margin-bottom: 22px;
    }
}
.mb--48{
    margin-bottom: 48px;
    @include for_breakpoint(sm-mobile) {
        margin-bottom: 24px;
    }
    @include for_breakpoint(lg-mobile) {
        margin-bottom: 24px;
    }
    @include for_breakpoint(tablet) {
        margin-bottom: 30px;
    }
    @include for_breakpoint(laptop) {
        margin-bottom: 38px;
    }
}



// --------------------------------- Margin top ---------------------------------
.mt--56{
    margin-top: 56px;
    @include for_breakpoint(sm-mobile) {
        margin-top: 28px;
    }
    @include for_breakpoint(lg-mobile) {
        margin-top: 28px;
    }
    @include for_breakpoint(tablet) {
        margin-top: 40px;
    }
    @include for_breakpoint(laptop) {
        margin-top: 52px;
    }
}
.mt--47{
    margin-top: 47px;
    @include for_breakpoint(sm-mobile) {
        margin-top: 24px;
    }
    @include for_breakpoint(lg-mobile) {
        margin-top: 24px;
    }
    @include for_breakpoint(tablet) {
        margin-top: 32px;
    }
    @include for_breakpoint(laptop) {
        margin-top: 40px;
    }
}
.mt--32{
    margin-top: 32px;
    @include for_breakpoint(sm-mobile) {
        margin-top: 20px;
    }
    @include for_breakpoint(lg-mobile) {
        margin-top: 20px;
    }
    @include for_breakpoint(tablet) {
        margin-top: 24px;
    }
    @include for_breakpoint(laptop) {
        margin-top: 28px;
    }
}
.mt--27{
    margin-top: 27px;
    @include for_breakpoint(sm-mobile) {
        margin-top: 14px;
    }
    @include for_breakpoint(lg-mobile) {
        margin-top: 14px;
    }
    @include for_breakpoint(tablet) {
        margin-top: 22px;
    }
    @include for_breakpoint(laptop) {
        margin-top: 24px;
    }
}






// --------------------------------- Padding ---------------------------------
.pl-250{
    padding-left: 250px;
    @include for_breakpoint(sm-mobile) {
        padding-left: 0.5%;
    }
    @include for_breakpoint(lg-mobile) {
        padding-left: 0.5%;
    }
    @include for_breakpoint(tablet) {
        padding-left: 0.5px;
    }

}

.px--10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}


.py--24{
    padding-top: 24px;
    padding-bottom: 24px;
    @include for_breakpoint(sm-mobile) {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    @include for_breakpoint(lg-mobile) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    @include for_breakpoint(tablet) {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    @include for_breakpoint(laptop) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.p--16{
    padding: 16px !important;
    @include for_breakpoint(sm-mobile) {
        padding: 16px !important;
    }
    @include for_breakpoint(lg-mobile) {
        padding: 16px !important;
    }
}
.p--24{
    padding: 24px !important;
    @include for_breakpoint(sm-mobile) {
        padding: 14px !important;
    }
    @include for_breakpoint(lg-mobile) {
        padding: 16px !important;
    }
    @include for_breakpoint(tablet) {
        padding: 18px !important;
    }
    @include for_breakpoint(laptop) {
        padding: 20px !important;
    }
}
.p-watching-card{
    padding: 16px 8px 24px !important;
    @include for_breakpoint(sm-mobile) {
        padding: 16px !important;
    }
    @include for_breakpoint(lg-mobile) {
        padding: 16px !important;
    }
    @include for_breakpoint(tablet) {
        padding: 16px !important;
    }
}


.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
